/.vs
/.idea
/bin-int
/bin

/vendor/Glad/bin
/vendor/Glad/bin-int
/vendor/Glad/*.vcxproj
/vendor/Glad/*.vcxproj.filters

/vendor/cef

*.user
*.sln
*.slnx
*.vcxproj
*.csproj
*.vcxproj.filters
*package-lock.json